<!DOCTYPE html>
html(lang="en")
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Amy Chen Portfolio
    link(rel='stylesheet' href='style.css')
    script(src='https://kit.fontawesome.com/a076d05399.js')
    script(src='https://code.jquery.com/jquery-3.5.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js')
  body
    .scroll-up-btn
      i.fas.fa-angle-up
    nav.navbar
      .max-width
        .logo
          a(href='#')
            | Portfo
            span lio.
        ul.menu
          li
            a.menu-btn(href='#home') Home
          li
            a.menu-btn(href='#about') About
          li
            a.menu-btn(href='#services') Services
          li
            a.menu-btn(href='#skills') Skills
          li
            a.menu-btn(href='#contact') Contact
        .menu-btn
          i.fas.fa-bars
    // home section start
    section#home.home
      .max-width
        .home-content
          .text-1 Hello, my name is
          .text-2 Amy Chen
          .text-3
            | And I&apos;m a 
            span.typing
          a(href='https://pda.104.com.tw/profile/share/5blnTWMDdiAcrXUqLmxPPL1FRCB6FPwk' target="_blank" title="Hire me") Hire me
    // about section start
    section#about.about
      .max-width
        h2.title About me
        .about-content
          .column.left
            img(src='images/profile-1.jpg' alt='')
          .column.right
            .text
              | I&apos;m a 
              span.typing-2
            p 
              | 5 years of Property management experience(Include 3 years Condominium supervisor experience).
            br
            p Familiar with Word、Excel、Power Point、Photoshop.
            br
            p Had Service role for Condominium Management Certificate Fire prevent managers Certificate.
    // services section start
    section#services.services
      .max-width
        h2.title My services
        .serv-content
          .card
            .box
              i.fas.fa-comments
              .text Comments
              p
                | Keyboarding 70 wpm.
              p
                | Fluent in Mandarin and English,
              p
                | and can speak a little Taiwanese.
              br
              br
          .card
            .box
              i.fas.fa-file-word
              .text Document
              p
                | Organized, Responsible and easy-going, Friendly and work well with others. And make Condominium Financial statement and meeting minutes.
          .card
            .box
              i.fas.fa-laptop-code
              .text Computer
              p
                | Literate：
              p
                | Microsoft word,
              p
                | Excel,
              p
                | Power Point,
              p
                | Photoshop
    // skills section start
    section#skills.skills
      .max-width
        h2.title Work Experience
        .skills-content
          .column.left
            .text Condo Complex Supervisor
            p - Resolve customer complaints.
            p - Arrange meeting agenda and write minutes.
            p - Follow the regulation of this condominium to manage everything.
          .column.right
            .bars
              .info
                span LIAN AN SECURITY CORP. Ltd
                span Sep 2019- Now
              .line.html
          .column.left
            .text Condo Complex Supervisor
            p - Resolve customer complaints.
            p - Arrange meeting agenda and write minutes.
            p - Follow the regulation of this condominium to manage everything.
            .text Condo Complex Receptionist
            p - Handle resident complaints.
            p - Arrange mechanic to fix any broken things at resident’s home or in the public space, do some paperwork.
            p - Make coffee or other beverage.
          .column.right
            .bars
              .info
                span Central Property Management Ltd
                span Sep 2015- Oct 2018
              .line.html
    // contact section start
    section#contact.contact
      .max-width
        h2.title Contact me
        .contact-content
          .column
            .icons
              .row
                i.fas.fa-user
                .info
                  span.sub-title Amy Chen
              .row
                i.fas.fa-map-marker-alt
                .info
                  .sub-title Taipei, Taiwan
              .row
                i.fas.fa-envelope
                .info
                  .sub-title zxm10112@gmail.com
    // footer section start
    footer
      span
        span.far.fa-copyright
        |  2021 All rights reserved.
    script(src='script.js')
