<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Amy Chen Portfolio
    link(rel="stylesheet", href="./scss/main.scss")
  body
    div.wrap Hello World!
  script(src="./index.js")